<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tartutrainer"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tartutrainer.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tartutrainer.activities.ClientsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tartutrainer.activities.ExerciseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tartutrainer.activities.NewProgramActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.tartutrainer.activities.ProgramActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tartutrainer.activities.ProgramNotesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="com.tartutrainer.activities.EditExerciseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.tartutrainer.activities.PurchaseExercisesActivity"
            android:screenOrientation="portrait">
        </activity>
	    <activity
            android:name="com.tartutrainer.activities.CollectionItemActivity"
            android:screenOrientation="portrait" >
        </activity>
        	    <activity
            android:name="com.tartutrainer.activities.CollectionItemInfoActivity"
            android:screenOrientation="portrait" >
        </activity>        
    </application>

</manifest>